# Reusable Build & Push Workflow

name: Build & Push

on:
  workflow_call:
    inputs:
      registry:
        description: 'Container registry URL'
        required: true
        type: string
      images:
        description: 'JSON array of images to build [{name, context}]'
        required: true
        type: string
    secrets:
      registry-username:
        description: 'Registry username'
        required: true
      registry-password:
        description: 'Registry password'
        required: true

jobs:
  build:
    name: Build ${{ matrix.image.name }}
    runs-on: shelly
    strategy:
      matrix:
        image: ${{ fromJson(inputs.images) }}
    steps:
      - uses: actions/checkout@v4
      - uses: ShellyNAS/shared-actions/docker-build-push@main
        with:
          registry: ${{ inputs.registry }}
          username: ${{ secrets.registry-username }}
          password: ${{ secrets.registry-password }}
          image-name: ${{ matrix.image.name }}
          context: ${{ matrix.image.context }}
